<%- include('../layouts/header.ejs')  %> 
<%= areas %> 
<form action="/weather" method="GET">
    <label for="city">Choose a City:</label>

    <select id="city" name="id">
        <option value="">--Please choose an option--</option>
        <% areas.forEach(area => { %>
            <option value="<%= area.id %>"><%= area.kota %></option>
        <% }) %>
    </select>

    <button type="submit">Submit</button>
</form>

<% if (config !== undefined) { %>
    <%= JSON.stringify(config) %> 
<% } %>

<div>
    <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

    document.addEventListener("DOMContentLoaded", function ()  {
        const chart = document.querySelector('#myChart');
        const config = '<%- JSON.stringify(config) %>' 
        const myChart = new Chart(
        document.getElementById('myChart'),
         JSON.parse(config)
        );
    })
    
</script>


<%- include('../layouts/footer.ejs')  %> 